<div class="section">

    <div class="container">
            <% current_user.comments.each do |comment| %>
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p><%= comment.content %></p>
                            </div>
                            <%= button_to 'Delete', comment, method: :delete, data: { confirm: "Are you sure?" }, class:"button is-danger" %>
                        </div>
                    </div>
                </div>
            <% end %>
            

    </div>
</div>
